html,body {
    width: 100%;
    height: 100%;
}
body,* {
    margin:0;
    padding:0;
    font-family: Courier New;
    font-size: 15px;
}

#loading {
    width: 200px;
    margin: 0 auto;
    color: black;
    font-size: 30px;
}

#toolbar {
    width: 100%;
    height: 26px;
    padding: 2px;
    background-color:rgb(245, 245, 245);
}
#toolbar button {
    height: 26px;
    border-radius: 4px;
    border: none;
    float: right;
    position: relative;
    margin-right: 10px;
}
#toolbar button:hover {
    background-color: gray;
}
#toolbar #run {
    width: 50px;
}

#content {
    height: calc(100% - 74px);
    position: relative;
}

#definitions {
    height: 50%;
    font-size: 15px;
    border: 1px solid #ccc;
    overflow-y:auto;
    resize: none;
}

#console {
    width: 100%;
	height: 50%;
    overflow: auto;
    border-top: 1px #5A5A5A solid;
    background-color:white;
    padding: 4px;
    color: black;
}
#console .prompt {
    color: black;
    font-weight: bold;
    margin-right: 6px;
}
#console .dead {
    color: #BDC3CD;
}
#console #consoleInput {
    font-family: Courier New;
    font-size: 15px;
    width: 96%;
    border: 0;
    outline:none;
	color:black;
}
#console .code_echo {color: black;}
#console .scheme_response {color: #0000AF;}
#console .scheme_write_object {color: #960096;}
#console .scheme_error_info {color: red;}

.CodeMirror {
	width: 100% !important;
	height: calc(100%) !important;
}